* {
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--background);
  gap: 24px;
  padding: 16px;
  background-color: var(--background);
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
}

.header__logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.nav__item {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  transition: 0.25s;
}

.nav__item:hover {
  background: var(--red);
}

.header__form_search {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.form_search__input_search {
  width: 100%;
  padding: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

i.ph-magnifying-glass {
  display: flex;
  padding: 8px;
  margin: 0;
  align-items: center;
  background-color: var(--green);
  color: var(--white);
}

.movie_title {
  margin-left: 15px;
}

.data{
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-areas: 
  "capa description";
  align-items: center;
}

.data__capa {
  width: 160px;
  border: 1px solid white;
  grid-area: capa;
}

.data__description {
  display: flex;
  flex-direction: row;
  line-height: 1;
  margin: 10px;
  grid-area: description;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.titulo {
  margin-top: 35px;
}

.movie__description {
  text-align: justify;
  line-height: 1.5;
}

.video{
  border: 1px solid white;
  width: 500px;
  height: 260px;
}

.footer {
  text-align: center;
  margin: 20px;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
}